@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --theme-purple : #6F57E9;
  --theme-purple-light : #9747FF;

  
  --theme-black: #000000;
  --theme-bg: #F8F9FD;
  --theme-white: #ffffff;
  --theme-white-hov: #4f4f4f;
  --theme-light-color: #868686;
  --theme-line-clr :#9E9E9E;
  --theme-line-clr-card :#9E9E9E80;
  --font-figtree : 'Figtree', sans-serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
  font-family: var(--font-figtree) !important;
  background-color: var(--theme-bg) !important;
  overflow-x: hidden !important;
  
}
.gap-top-little{
  margin-top: 1em;
}
.gap-top{
  margin-top: 6rem !important;
}
.text-center-mid{
  text-align: center;
}
a {
  text-decoration: none !important;
}
.nav-set{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p,h5,h6{
  margin: 0px !important;
}
.login-btn-set{
  gap: 1.4em;
  display: flex;
}
.blue-bg-btn{
  background-color: var(--theme-purple);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  transition: all 0.3s ease;
}

.blue-bg-btn p {
  color: var(--theme-white);
  font-weight: 600;
}
.blue-bg-btn:hover{
  transform: scale(1.05);
  box-shadow: 0px 5px 40px -15px var(--theme-white-hov);
}
.white-bg-btn{
  background-color: var(--theme-white);
  border: 2px solid var(--theme-purple);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  transition: all 0.3s ease;

}
.white-bg-btn p {
  color: var(--theme-black);
  font-weight: 600;
}
.white-bg-btn:hover{
  transform: scale(1.05);
  box-shadow: 0px 5px 40px -15px var(--theme-white-hov);
}
.white-bg-btn-dolr{
  background-color: var(--theme-white);
  border: 3.7px solid var(--theme-purple);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: all 0.3s ease;

}

.white-bg-btn-dolr:hover{
  transform: scale(1.05);
  box-shadow: 0px 5px 40px -15px var(--theme-white-hov);
}
.font-set-head{
font-weight: 600;
}
.font-set-head-h{
  font-weight: 500;
}
.search-bg{
  background-color: var(--theme-white);
  box-shadow: 296px 536px 245px rgba(21, 31, 72, 0.01), 167px 302px 207px rgba(21, 31, 72, 0.05), 74px 134px 153px rgba(21, 31, 72, 0.09), 19px 34px 84px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 15px;
}
.search-img-size-set{
  width: 20px;
}
.one-line-set{
  display: flex;
  align-items: center;
  padding: 18px 0px;
  gap: 5px;
}
.one-line-setn{
  display: flex;
  align-items: center;
  padding: 18px 0px;
  border-radius: 12px;

  gap: 5px;
  transition: all 0s ease-in;
}

.one-line-set h6{
  color: var(--theme-light-color);
}
.one-line-setn h6{
  color: var(--theme-black);
}
.one-line-center{
  align-items: center;
}
.arrow-set{
  background-color: var(--theme-purple-light);
  padding: 10px;
  border-radius: 7px;
  float: right;
  transition: all 0.3s ease;

}
.arrow-set:hover{
  transform: scale(0.9);

}
.pen{
  gap: 15px;
}
.pen-set{
  /* background-color: var(--theme-purple-light); */
  /* padding: 10px;
  border-radius: 7px; */
  float: right;
  transition: all 0.3s ease;

}
.pen-set:hover{
  transform: scale(0.9);

}
.line{
  border: 1px solid #B9B9B9;
  transform: rotate(90deg);
  /* height: 0px; */
  width: 24px;
}
.card-top-set{
  display: flex;
  align-items: center;
  gap:1em;
}
.card-logo-img-set{
  width: 28px;
}
.card-bg-set{
  height: 232px !important;
  background-color: var(--theme-bg);
  padding: 1.3em;
  border-radius: 12px;
  box-shadow: 0px 146px 58px rgba(0, 0, 0, 0.01), 0px 82px 49px rgba(0, 0, 0, 0.05), 0px 36px 36px rgba(0, 0, 0, 0.09), 0px 9px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.line-hori{
  border: 0.7px solid var(--theme-line-clr-card);
  margin: 20px auto !important;
}
.pera-set-card{
  font-weight: 500;
  color: #535353;
}

.main-div{
	overflow: hidden;
}
.wave-1{
	width: 120%;
	position: relative;
	animation: myAnim 2s linear 0s infinite normal ;
}
.wave-2{
	width: 110%;
	position: absolute;
	animation: myAnim-2 2s linear 0s infinite normal ;
}
.card-set{
  display: flex;
  justify-content: space-between;
}

@keyframes myAnim {
	0% {
				transform: translateX(0);
	  }
	  50% {
				transform: translateX(-150px);
}
100% {
	transform: translateX(0px);
}

}
@keyframes myAnim-2 {
	0% {
		transform: translateX(-150px);
}
50% {
	transform: translateX(0px);
}
100% {
	transform: translateX(-150px);
}
}
.load-side{
  background-color: var(--theme-white);
  align-items: center;
  display: flex;
  border-radius: 12px;
  height: 52px;
}
